.input {
  width: 50%;
  padding: 6px 50px;
  text-align-last: center;
}
.d-flex {
  display: flex !important;
  align-items: center;
  height: 50vh;
  width: 50% !important;
  justify-content: center;
}
