.link:hover {
    color: crimson;
    cursor: pointer;
}

/* .login:hover {
    color: crimson;
    cursor: pointer;
}
.count:hover {
    color: crimson;
    cursor: pointer;
}
.home:hover {
    color: crimson;
    cursor: pointer;
} */